* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: bisque;
}
.editor-container {
    width: 1500px;
    height: 800px;
    margin: 0 auto;
}
.editor {
    width: 100%;
    height: 100%;
}